.main-nav {
  background: var(--primary);
  padding: 1.25rem 2.5%;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}

.home-header {
  margin-top: 62px;
  width: 100%;
  height: 60vh;
  background: url('https://scontent.flsc2-1.fna.fbcdn.net/v/t39.30808-6/317464378_5918121491577159_628463691469614233_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=e0qKUqEkyoMAX_rT2bv&_nc_ht=scontent.flsc2-1.fna&oh=00_AfDPa-NdaAAHh5-sN3f6ZeZiwAuBPJtrqiA8x6MW7nrvEg&oe=638AD249');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  text-align: center;
}

.home-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.home-header p {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Inicio de los estilos del Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.2rem;
  padding: 2rem;
}

.cards i {
  margin-left: 2rem;
  font-size: 1.5rem;
}

/* Fin de los estilos del footer */

/* Inicio de estilos Home Main */
main .text-home {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.btn {
  width: 100px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--light);
  border: none;
  border-radius: 4px;
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: var(--primary);
}

/* Fin de estilos Home Main */