.main-nav {
  background: var(--primary);
  padding: 5px 2.5%;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
}

.main-nav img {
  width: 70%;
}

.nav-icons {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}

.home-header {
  margin-top: 55px;
  width: 100%;
  height: 60vh;
  background: url('https://scontent.flsc2-1.fna.fbcdn.net/v/t39.30808-6/317464378_5918121491577159_628463691469614233_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=e0qKUqEkyoMAX_rT2bv&_nc_ht=scontent.flsc2-1.fna&oh=00_AfDPa-NdaAAHh5-sN3f6ZeZiwAuBPJtrqiA8x6MW7nrvEg&oe=638AD249');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  text-align: center;
}

.home-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.home-header p {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Estilo para nueva clase en botones de Home */

.navlink-btn {
  color: var(--light);
  text-decoration: none;
}

/* Inicio de los estilos del Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--light);
  font-size: 1rem;
  padding: 1rem;
}

.footer p {
  margin-bottom: 0;
}

.footer p:last-child {
  margin-right: 5rem;
}

.cards i {
  margin-left: 2rem;
  font-size: 1rem;
}



/* Fin de los estilos del footer */

/* Inicio de los estilos de Login */

h2 {
  text-align: center;
  
}
.main-login {
  width: 70%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
}

.login-container {
  padding:  0 5rem;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #0E5E6F;
  
  width: 100%;
}

.login-form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form label {
  margin: 1rem 0;
  align-self: flex-start;
}

.login-form input {
  margin: 0 0 1rem 0;
  height: 2rem;
  width: 70%;
  border-radius: 5px;
  border: 1px solid gray;
}

.signup-container {
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-login button {
  margin: 30px;
  background-color: #24739F;
  color: var(--light);
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 15px;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  

}


/* Fin de los estilos de Login */

/* Inicio de estilos Home Main */
main .text-home {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.btn {
  width: 100px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--light);
  border: none;
  border-radius: 4px;
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: var(--primary);
}

/* Fin de estilos Home Main */

/* Comienzo de Estilos de Registro */

.main-regist {
  width: 70%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 0 10rem;
}

.form-regist {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-regist input {
  margin: 0 0 1rem 0;
  height: 2rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
}

.main-regist button {
  margin: 30px;
  background: #24739F;
  color: var(--light);
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Fin de Estilos de Registro*/

/* Inicio de los estilos de Profile */

.main-profile {
  width: 100%;
  height: 90%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.profile {
  padding: 5rem;
  width: 85%;
  
}

.profile-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-info {
 
  height: 80%;
  display: flex;
  align-items: center;
  
}

.avatar {
  border-radius: 50%;
  border: solid 3px #24739F;
  width: 25%;

}

.info {
  margin-left: 5rem;
  font-size: 1.5rem;
}

.profile-links {
  display: flex;
  justify-content: space-around;
  
  height: 40%;
  width: 80%;
  display: flex;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.link i {
  font-size: 3rem;
  margin-bottom: 2rem;
  color:  #24739F
}

.additional-products {
  padding: 5rem 2rem;
  width: 20%;
  position: relative;
  z-index: -1;
  background-color: #D7EAF4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-products img {
 
  width: 70%;
  margin: 2rem 0 1rem 0;
  border: solid 3px #24739F;
}

/* Fin de los estilos de Profile */

/* Inicio de los estilos de Gallery */
.main-gallery {
  position: absolute;
  height: 70vh;
  width: 70vw;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.filter-aside {
  
  height: 100vh;
  width: 20%;
  position: relative;
  z-index: -1;
  background-color: #D7EAF4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  
  font-size: 1rem;
  width: 25%;
  height: 52%;
  padding: 1rem;
}
.main-gallery img {
  width: 100%;
  height: 50%;
}

.filter-aside input {
  margin: 0 0 1rem 0;
  height: 2rem;
  width: 70%;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn-filter {
  margin: 30px;
  background-color: #24739F;
  color: var(--light);
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 15px;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
}

/* Fin de los estilos de Gallery */

/* Inicio de los estilos de Publication */

.main-publication {
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  position: absolute;
  height: 70vh;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.publication-section {
  margin-top: 2rem;
  width: 50%;
  border-bottom: 1px solid gray;
}

.main-publication label {
  font-weight: bold;
  color: #24739F;
  margin: 0 2rem;
}

.main-publication input {
  
  border: none;
  background-color: var(--light);
}

/* Fin de los estilos de Publication */

/* Inicio de los estilos de Card */

.buttons{
  display: flex;
  justify-content: space-around;
}
.card-btn {
  
  background-color: #24739F;
  color: var(--light);
  border: none;
  height: 30px;
  width: 30%;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.card-body {
  height: 20px;
}

.card-title {
  font-size: 1rem;
}
/* Fin de los estilos de Card */