@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {

  --primary: #0E5E6F;
  --secundary: ;
  --dark:#242424;
  --light: #efefef;
  --font: 'Montserrat', sans-serif;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: var(--light);
  width: 100vw;
  height: 100hv;
  overflow-x: hidden;
}

.btn {
  width: 100px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--light);
  border: 2px;
  border-radius: 4px;
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
}

.btntwo{
  width: 100px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--light);
  border: 2px;
  border-radius: 4px;
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
  text-decoration: none;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: var(--primary);
}